/* @import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

:root {
  --black: #292929;
  --blackLight: #343536;
  --blackLight2: #242526;
  --greyLight: #3a3b3c;
  --greyLight0: #7a7a7a;
  --greyLight1: #bcbcbc;
  --greyLight2: #e1e1e1;
  /* theme dubstudio */
  --red: #952626;
  --blue: #2b6f93;
  --pink: #c5097d;
  --purple: #6f4393;
  --green: #01f90b;

  --font-header: "Barlow Semi Condensed";
  --font-text: "Barlow Semi Condensed";
  --font-script: "Damion";
  --radius: 8px;
}

body {
  min-height: 100vh;
  height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  font-family: var(--font-text);
  overflow-x: hidden;
}

html {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-header);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
input,
label,
button {
  font-family: var(--font-text) !important;
  font-size: 16px;
  color: var(--greyLight1);
}

h2 {
  color: var(--greyLight1);
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 40px;
}

h3 {
  color: var(--greyLight1);
  font-size: 50px;
}

nav {
  color: inherit;
  height: auto;
  max-height: none;
  width: 100%;
  min-width: 0;
  max-width: none;
  background-color: transparent;
  line-height: normal;
  box-shadow: none;
}

nav ul li {
  transition: none;
  float: none;
  padding: 0;
}

li.active {
  background-color: transparent;
}

nav ul li a {
  transition: none;
  padding: 0;
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 18px;
  text-decoration: none;
  color: var(--greyLight1);
}

nav ul li a:hover {
  background-color: transparent;
}

main {
  display: flex;
  flex: 1;
}

section {
  display: flex;
}

body,
section#home {
  background-color: var(--black);
}

/*Checkbox UNchecked*/

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  top: 13px !important;
  left: 13px !important;
  width: 16px;
  height: 16px;
  border: 1px solid #666 !important;
}

/*Checkbox checked*/
[type="checkbox"].filled-in+span:not(.lever):after,
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 0;
  background-color: var(--main-color);
  top: 13px !important;
  left: 13px !important;
  width: 16px;
  height: 16px;
}

[type="checkbox"].filled-in+span:not(.lever):before,
[type="checkbox"].filled-in:checked+span:not(.lever):before {
  top: 10px !important;
  left: 13px !important;
}

[type="checkbox"].filled-in+span:not(.lever):before {
  top: 10px !important;
  left: 13px !important;
}

[type="checkbox"]+span,
[type="checkbox"].with-gap+span {
  display: block;
  height: 44px;
  font-size: 18px !important;
  line-height: 40px;
  background-color: rgb(255, 255, 255, 0.05);
  border: 1px solid transparent;
  border-radius: var(--inputRadius);
  padding-left: 0;
  text-align: center;
  margin-bottom: 20px;
}

[type="checkbox"].filled-in:not(:disabled)+span i {
  display: none;
}

/*Disabled Styles*/
[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever) i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever) {
  cursor: not-allowed;
  opacity: 0.5;
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
  display: none;
}

/* span style, when checkbox is checked */
[type="checkbox"]:checked+span,
[type="checkbox"].with-gap:checked+span {
  border: 1px solid var(--main-color);
}

/* */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--greyLight1) !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: rgb(255, 255, 255, 0.5) !important;
}

@media screen and (max-width: 992px) {

  /*when main-menu fixed*/
  section#home {
    padding-top: 70px;
  }
}