section#containerAppointment {
  /* background: url("../../assets/img/bg-match.png"); */
  padding: 80px 0;
  display: block;
}

section#containerAppointment .matchbox.img-fluid {
  height: auto;
}

section#containerAppointment .matchbox {
  width: 460px;
}

section#containerAppointment form {
  width: 100%;
  padding: 40px 15px;
}

.m-4 {
  margin-top: 4em;
}

.copy {
  display: block;
  width: auto;
  height: 0
}

.flex-row {
  justify-content: center !important;
}

a.link {
  color: var(--main-color);
  text-decoration: underline;
}

section#containerAppointment p {
  text-align: center;
}

#containerAppointment h3 {
  position: relative;
  z-index: 15;
  font-size: 35px;
  color: var(--main-color);
  margin: 15px 15px 15px 0;
}

/*MATERIALIZE CUSTOM FORM STYLES*/
.hiddendiv {
  display: none;
}

/* :root {
  --inputRadius: 4px;
} */

button.btn {
  width: 100%;
  color: var(--greyLight3);
  height: auto;
  padding: 10px 40px;
  background-color: var(--main-color) !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: var(--inputRadius);
  margin-bottom: 5px;
}

button.btn:hover {
  filter: brightness(120%);
}

button.btn:disabled {
  opacity: 0.5;
}

.progress {
  background-color: rgb(52, 53, 54, 0.5);
  border-radius: 3px 3px 0 0;
  margin: 0 0 -3px 0;
  z-index: 10;
}

.progress .indeterminate {
  background-color: var(--main-color);
}

/* input::placeholder,
textarea::placeholder {
  font-family: Barlow;
  font-size: 15px;
  color: var(--greyLight0);
} */

button.btn-recordings {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 10px 12px;
  margin: 0 1em .5em 0;
  white-space: nowrap;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

button.btn-recordings svg {
  margin-right: .5em;
}

/* button.btn-recordings:hover,
button.btn-recordings.hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--black);
} */

section#containerAppointment .flex-row {
  align-items: center;
  justify-content: space-between;
}

/*Fix Appointment form*/
#containerAppointment label {
  width: auto !important;
}

form div.errorMessage {
  margin-top: -17px;
  font-family: inherit;
  font-size: 12px;
  color: red;
}

.datepicker-date-display {
  background: #202020;
}

.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: var(--main-color) !important;
}

.datepicker-table .is-selected {
  background-color: var(--main-color) !important;
}



.input-field {
  margin: 15px 0;
}

.input-field label {
  width: auto;
  top: 0 !important;
  left: 15px !important;
  color: var(--main-color);
  font-size: 18px;
  line-height: 16px;
}

.input-field span.helper-text {
  font-size: 14px;
  color: var(--greyLight0);
}

.input-field input[type="text"]:focus+label,
.input-field input[type="email"]:focus+label {
  color: var(--main-color) !important;
}

/* label position */
.input-field>label:not(.label-icon).active,
.input-field input:-webkit-autofill label:not(.label-icon).active {
  width: auto;
  top: 0 !important;
  left: 15px !important;
  color: var(--main-color);
  font-size: 18px;
  line-height: 16px;
  color: var(--main-color) !important;
  transform: translateY(-9px) scale(0.8) !important;
  transform-origin: 0 5px;
}



.input-field input[type="text"],
.input-field input[type="email"],
.input-field textarea,
.input-field input[type="number"] {
  position: relative;
  width: calc(100% - 15px);
  padding-left: 15px;
  height: 40px;
  border-radius: var(--inputRadius) !important;
  background-color: rgb(255, 255, 255, 0.05);
  border-bottom: 1px solid var(--greyLight) !important;
}

.input-field textarea {
  font-family: var(--font-text);
  width: 100%;
  height: 80px;
  color: var(--greyLight1);
  padding: 15px;
}

.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field textarea:focus,
.input-field input[type="number"]:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

#containerAppointment .col .l3 {
  padding: 0.75rem;
}

/*RESPONSIVE*/
@media screen and (max-width: 992px) {
  #containerAppointment .col .row {
    margin: 0;
  }

  section#containerAppointment .matchbox {
    position: absolute;
    top: -180px;
    right: unset;
    padding: 0;
    width: 280px;
  }

  section#containerAppointment form {
    padding: 0;
  }

  #containerAppointment h3 {
    font-size: 27px;
  }
}